.note {
    margin: 0;
    padding: 0;
    margin: auto;
    margin-top: 50px;
    width: 800px;
    height: auto;
    font-size: 20px;
}

    .note th {
        background-color: #a5dfff;
        color: #f07800;
        font-family: bold;
        width: 200px;
    }

    .note td {
        width: 600px;
    }
